* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(32, 34, 36);
}

body::-webkit-scrollbar {
    display: none;
}

html::-webkit-scrollbar {
    scrollbar-width: none;
}

nav {
    height: 80px;
    width: 100%;
    background-color: rgb(45, 45, 45);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.5rem;
}

.logo {
    display: flex;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
    padding: 10px;
}

.hero {
    display: flex;
    justify-content: center;
    height: 100%;
    width: auto;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

.text {
    display: grid;
    grid-template-columns: repeat(6, 70px);
    position: absolute;
    background-color: rgba(35, 35, 35, 0.8);
    padding: 2rem 2rem;
    border-radius: 5px;
}

.hero-container h2 {
    grid-column-start: 1;
    grid-column-end: 7;
    color: whitesmoke;
    font-size: 1.8rem;
    font-weight: bold;
}

.spotify {
    width: 100%;
    height: 100%;
}

.btn1 {
    grid-column: 3;
    width: 50px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    margin-top: 0.5rem;
    background-color: rgb(6, 192, 6);
    color: whitesmoke;
    border-radius: 50px;
    transition: cursor, padding, 100ms ease-in-out;
}

.btn1:hover {
    cursor: pointer;
    padding: 0.2rem 0.2rem;
    border: 3px;
    border-color: white;
    border-style: dashed;
}

.btn1:active {
    border-style: dotted;
    padding: 0.3rem 0.3rem;
}

.instagram {
    width: 100%;
    height: 100%;
}

.btn2 {
    grid-column: 4;
    width: 50px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    margin-top: 0.5rem;
    background-color: rgb(255, 149, 0);
    color: whitesmoke;
    border-radius: 50px;
    transition: cursor, padding, 100ms ease-in-out;
}

.btn2:hover {
    cursor: pointer;
    padding: 0.2rem 0.2rem;
    border: 3px;
    border-color: white;
    border-style: dashed;
}

.btn2:active {
    border-style: dotted;
    padding: 0.3rem 0.3rem;
}

.hero-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.hero-image img {
    height: max-content;
    min-width: 49%;
    opacity: 45%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    color: rgb(118, 118, 118);
}