* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(32, 34, 36);
}

body::-webkit-scrollbar {
    display: none;
}

html::-webkit-scrollbar {
    scrollbar-width: none;
}

nav {
    height: 80px;
    width: 100%;
    background-color: rgb(45, 45, 45);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.5rem;
}

.logo {
    display: flex;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
    padding: 10px;
}

.hero {
    display: flex;
    justify-content: center;
    height: 100%;
    width: auto;
}

.media {
    display: grid;
    padding: 10px;
    gap: 10px;
    grid-template: auto / auto auto;
    justify-content: center;
}

.media img {
    max-width: 100%;
}

.media video {
    max-width: 100%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    color: rgb(118, 118, 118);
}