* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(32, 34, 36);
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    height: 80px;
    width: 100%;
    background-color: rgb(45, 45, 45);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.5rem;
}

.logo {
    display: flex;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
    padding: 10px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text {
    position: absolute;
    top: 10rem;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2rem;
    border-radius: 10px;
    background-color: rgb(32, 34, 36, 0.8);
}

.about-text h1 {
    margin-bottom: 2rem;
}

.about-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-top img {
    display: flex;
    width: 50%;
    height: auto;
    padding: 0.5rem;
    opacity: 40%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    color: rgb(118, 118, 118);
}

.about-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-bottom img {
    display: flex;
    width: 50%;
    height: auto;
    padding: 0.5rem;
    opacity: 40%;
}